@import "../../variables.scss";
.menu {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;


  @media screen and (max-width: 700px) {
    width: 100vh;
    align-items: center;
  }

  .menu__tab {
    font-size: 14pt;
    transition-duration: 0.5s;
  }

  .menu__tab--light {
    color: $dark-3;
    &:hover {
      color: $dark-1 !important;
    }
  }

  .menu__tab--dark {
    color: $light-3;
    &:hover {
      color: $light-1 !important;
    }
  }

  .menu__tab--active--dark {
    color: $light-1 !important;
  }

  .menu__tab--active--light {
    color: $dark-1 !important;
  }

}


.menu--dark {
border-bottom: 1px solid $dark-2;
}

.menu--light {
  border-bottom: 1px solid $light-2 
}