@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

    $dark-bg-color: #191a1f;
    $dark-main-color: #696972;
    $dark-secondary-color: #979da5;
    $dark-footer: #24252c;
    $dark-active-color: #fff;
    $light-bg-color: #fff;
    $light-main-color: #a8a8aa  ;
    $light-secondary-color: #c7c7c7;
    $light-footer: #a4a4a7;
    $light-active-color: #646464;
    $dark-line: #26272e;
    $light-line: #d8d8d8;
    $red-main-color: #d22f27;
    $menu-width-desktop: 240px;
    $menu-width-tablet: 90px;
    $menu-width-smartphone: 230px;