@import "../variables.scss";
.dashboard {
  display: flex;
  .dashboard__left-panel {
    width: 15vw !important;
    @media screen and (max-width: 700px) {
      transform: translateX(-20vh);
    }
  }
  .dashboard__mid-panel {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100vw - 35vw);
    @media screen and (max-width: 700px) {
      transform: translateX(-5vh);
      width: 100vw;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      overflow-x: hidden;
    }
  }
  .dashboard__right-panel {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 20vw;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  .dashboard__right-panel--dark {
    border-left: 1px solid $dark-3;
  }
}
