@import "../variables.scss";
.dashboard {
  display: flex;
  .dashboard__left-panel {
    width: 15vw !important;
    @media screen and (max-width: 700px) {
      transform: translateX(-20vh);
      z-index: 1000;
    }
  }
  .dashboard__mid-panel {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: calc(100vw - 35vw);
    @media screen and (max-width: 700px) {
      transform: translateX(-5vh);
      width: 100vw;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      overflow-x: hidden;
    }
  }
  .dashboard__right-panel {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 20vw;
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
}

.dashboard--dark {
  color: $light-1;
  background-color: $dark-1;

  h1, h2, h3, h4, h6 {
    color: $light-1;
  }

  span, p, a {
    color: $light-3;
  }

}

.dashboard--light {
  background-color: $light-1;
  color: $dark-1;

  h1, h2, h3, h4, h6 {
    color: $dark-1;
  }

  span, p, a {
    color: $dark-3;
  }

}

.dashboard__left-panel--dark {
  border-right: 1px solid $dark-2;
}

.dashboard__left-panel--light {
  border-right: 1px solid $light-2;
}

.dashboard__right-panel--dark {
  border-left: 1px solid $dark-2;
}
.dashboard__right-panel--light {
  border-left: 1px solid $light-2;
}
