@import "./variables.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $dark-1;
}

::-webkit-scrollbar-thumb {
  background: $red-1;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: $dark-2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.rounded-circle {
  border-radius: 50%;
}

.btn {
  padding: 0.5rem 2rem;
  color: #fff;
  border-radius: $border-radius;
  transition-duration: 0.5s;
  width: auto;
}

.btn--main {
  background-image: linear-gradient(
    to right,
    #d31027 0%,
    #d31027 51%,
    #ea384d 100%
  );
  background-size: 200% auto;
  &:hover {
    background-position: center right;
  }
}

.btn--transparent {
  background-color: transparent;
  color: $light-1;
  border: 1px solid $light-1;
  &:hover {
    background-color: $light-1;
    color: $dark-1;
  }
}

.movies {
  border-radius: $border-radius;
  display: flex;
  width: auto;
  height: 50vh;
  cursor: pointer;

  .movies__overlay {
    top: 0;
    background-color: #00000062;
    z-index: 100;
    border-radius: $border-radius !important;
    text-align: left;

    .movies__info-container {
      margin: 20vh 2rem;
      height: 30vh;
      overflow: hidden;
    }
  }

  .movies__title {
    color: $light-1;
    font-weight: bold;
    font-size: 16pt;
  }

  .movies__description {
    font-weight: normal;
    color: $light-3;
    height: 10vh;
    overflow: hidden;
  }

  .movies__img {
    top: 0;
    position: absolute;
    height: 100%;
    width: auto;
    border-radius: $border-radius;
  }

  .movies__btn-container {
    display: flex;
    gap: 1rem;
  }
}
