$green-1: #59d986;
$green-2: #3dd372;
$yellow-1: #ffcc4dff;
$dark-1: #313940;
$dark-2: #3c4349;
$dark-3: #49555f;
$dark-4: #636c74;
$dark-5: #555d64;
$light-1: #fff;
$light-2: #f0f2f2;
$light-3: #d3d3d3;
$light-4: #e3e3e3;
$border-radius: 20px;
$red-1: #ea384d;
$mobile-max-screen: 700px;
