$green-1: #59d986;
$green-2: #3dd372;
$yellow-1: #ffcc4dff;
$dark-1: #191a1fff;
$dark-2: #2d2d35ff;
$dark-3: #49555f;
$dark-4: #636c74;
$dark-5: #555d64;
$light-1: #fff;
$light-2: #dddddd;
$light-3: #8a8a8a;
$light-4: #e3e3e3;
$border-radius: 20px;
$red-1: #ea384d;
$mobile-max-screen: 700px;
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
